Architecture/WebReference/Web References/PopedomReference/PopedomService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="companyNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectUserinfoByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userinfoID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectUserinfoByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectUserinfoByIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectDefaultProperty">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userinfoID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="moduleID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectDefaultPropertyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectDefaultPropertyResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectPropertyByPropertyName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userinfoID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="moduleID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="propertyName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectPropertyByPropertyNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectPropertyByPropertyNameResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectDefaultPropertyByPropertyName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userinfoID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="moduleID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="propertyName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectDefaultPropertyByPropertyNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectDefaultPropertyByPropertyNameResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HasPermission">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userinfoID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="moduleID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HasPermissionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HasPermissionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckPermission">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="permission" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="moduleID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckPermissionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckPermissionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectEntitledUserinfoByCompanyNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="companyNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="moduleID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectEntitledUserinfoByCompanyNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectEntitledUserinfoByCompanyNoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="SelectUserinfoByIDSoapIn">
    <wsdl:part name="parameters" element="tns:SelectUserinfoByID" />
  </wsdl:message>
  <wsdl:message name="SelectUserinfoByIDSoapOut">
    <wsdl:part name="parameters" element="tns:SelectUserinfoByIDResponse" />
  </wsdl:message>
  <wsdl:message name="SelectDefaultPropertySoapIn">
    <wsdl:part name="parameters" element="tns:SelectDefaultProperty" />
  </wsdl:message>
  <wsdl:message name="SelectDefaultPropertySoapOut">
    <wsdl:part name="parameters" element="tns:SelectDefaultPropertyResponse" />
  </wsdl:message>
  <wsdl:message name="SelectPropertyByPropertyNameSoapIn">
    <wsdl:part name="parameters" element="tns:SelectPropertyByPropertyName" />
  </wsdl:message>
  <wsdl:message name="SelectPropertyByPropertyNameSoapOut">
    <wsdl:part name="parameters" element="tns:SelectPropertyByPropertyNameResponse" />
  </wsdl:message>
  <wsdl:message name="SelectDefaultPropertyByPropertyNameSoapIn">
    <wsdl:part name="parameters" element="tns:SelectDefaultPropertyByPropertyName" />
  </wsdl:message>
  <wsdl:message name="SelectDefaultPropertyByPropertyNameSoapOut">
    <wsdl:part name="parameters" element="tns:SelectDefaultPropertyByPropertyNameResponse" />
  </wsdl:message>
  <wsdl:message name="HasPermissionSoapIn">
    <wsdl:part name="parameters" element="tns:HasPermission" />
  </wsdl:message>
  <wsdl:message name="HasPermissionSoapOut">
    <wsdl:part name="parameters" element="tns:HasPermissionResponse" />
  </wsdl:message>
  <wsdl:message name="CheckPermissionSoapIn">
    <wsdl:part name="parameters" element="tns:CheckPermission" />
  </wsdl:message>
  <wsdl:message name="CheckPermissionSoapOut">
    <wsdl:part name="parameters" element="tns:CheckPermissionResponse" />
  </wsdl:message>
  <wsdl:message name="SelectEntitledUserinfoByCompanyNoSoapIn">
    <wsdl:part name="parameters" element="tns:SelectEntitledUserinfoByCompanyNo" />
  </wsdl:message>
  <wsdl:message name="SelectEntitledUserinfoByCompanyNoSoapOut">
    <wsdl:part name="parameters" element="tns:SelectEntitledUserinfoByCompanyNoResponse" />
  </wsdl:message>
  <wsdl:portType name="PopedomServiceSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectUserinfoByID">
      <wsdl:input message="tns:SelectUserinfoByIDSoapIn" />
      <wsdl:output message="tns:SelectUserinfoByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectDefaultProperty">
      <wsdl:input message="tns:SelectDefaultPropertySoapIn" />
      <wsdl:output message="tns:SelectDefaultPropertySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectPropertyByPropertyName">
      <wsdl:input message="tns:SelectPropertyByPropertyNameSoapIn" />
      <wsdl:output message="tns:SelectPropertyByPropertyNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectDefaultPropertyByPropertyName">
      <wsdl:input message="tns:SelectDefaultPropertyByPropertyNameSoapIn" />
      <wsdl:output message="tns:SelectDefaultPropertyByPropertyNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HasPermission">
      <wsdl:input message="tns:HasPermissionSoapIn" />
      <wsdl:output message="tns:HasPermissionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckPermission">
      <wsdl:input message="tns:CheckPermissionSoapIn" />
      <wsdl:output message="tns:CheckPermissionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectEntitledUserinfoByCompanyNo">
      <wsdl:input message="tns:SelectEntitledUserinfoByCompanyNoSoapIn" />
      <wsdl:output message="tns:SelectEntitledUserinfoByCompanyNoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PopedomServiceSoap" type="tns:PopedomServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectUserinfoByID">
      <soap:operation soapAction="http://tempuri.org/SelectUserinfoByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectDefaultProperty">
      <soap:operation soapAction="http://tempuri.org/SelectDefaultProperty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectPropertyByPropertyName">
      <soap:operation soapAction="http://tempuri.org/SelectPropertyByPropertyName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectDefaultPropertyByPropertyName">
      <soap:operation soapAction="http://tempuri.org/SelectDefaultPropertyByPropertyName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasPermission">
      <soap:operation soapAction="http://tempuri.org/HasPermission" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPermission">
      <soap:operation soapAction="http://tempuri.org/CheckPermission" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectEntitledUserinfoByCompanyNo">
      <soap:operation soapAction="http://tempuri.org/SelectEntitledUserinfoByCompanyNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PopedomService">
    <wsdl:port name="PopedomServiceSoap" binding="tns:PopedomServiceSoap">
      <soap:address location="http://uport.cwcct.com/WebServices/PopedomService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>