Backup/OCR/OCR.BLL/Web References/CtosWebRef82/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ExecBiz">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strReqID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strReqParam" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strTicketID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecBizResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecBizResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExecBizSoapIn">
    <wsdl:part name="parameters" element="tns:ExecBiz" />
  </wsdl:message>
  <wsdl:message name="ExecBizSoapOut">
    <wsdl:part name="parameters" element="tns:ExecBizResponse" />
  </wsdl:message>
  <wsdl:portType name="WSVCDataAccessSoap">
    <wsdl:operation name="ExecBiz">
      <wsdl:input message="tns:ExecBizSoapIn" />
      <wsdl:output message="tns:ExecBizSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSVCDataAccessSoap" type="tns:WSVCDataAccessSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecBiz">
      <soap:operation soapAction="http://tempuri.org/ExecBiz" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSVCDataAccessSoap12" type="tns:WSVCDataAccessSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecBiz">
      <soap12:operation soapAction="http://tempuri.org/ExecBiz" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSVCDataAccess">
    <wsdl:port name="WSVCDataAccessSoap" binding="tns:WSVCDataAccessSoap">
      <soap:address location="http://172.16.11.82:8155/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="WSVCDataAccessSoap12" binding="tns:WSVCDataAccessSoap12">
      <soap12:address location="http://172.16.11.82:8155/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>