OCR/OCR.BLL/Web References/WebReferenceTest/OCRService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SM001001">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="paras" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SM001001Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SM001001Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SM001002">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="paras" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SM001002Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SM001002Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CM005001">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="paras" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CM005001Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CM005001Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OP007095">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="paras" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OP007095Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OP007095Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SM001001SoapIn">
    <wsdl:part name="parameters" element="tns:SM001001" />
  </wsdl:message>
  <wsdl:message name="SM001001SoapOut">
    <wsdl:part name="parameters" element="tns:SM001001Response" />
  </wsdl:message>
  <wsdl:message name="SM001002SoapIn">
    <wsdl:part name="parameters" element="tns:SM001002" />
  </wsdl:message>
  <wsdl:message name="SM001002SoapOut">
    <wsdl:part name="parameters" element="tns:SM001002Response" />
  </wsdl:message>
  <wsdl:message name="CM005001SoapIn">
    <wsdl:part name="parameters" element="tns:CM005001" />
  </wsdl:message>
  <wsdl:message name="CM005001SoapOut">
    <wsdl:part name="parameters" element="tns:CM005001Response" />
  </wsdl:message>
  <wsdl:message name="OP007095SoapIn">
    <wsdl:part name="parameters" element="tns:OP007095" />
  </wsdl:message>
  <wsdl:message name="OP007095SoapOut">
    <wsdl:part name="parameters" element="tns:OP007095Response" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="SM001001">
      <wsdl:input message="tns:SM001001SoapIn" />
      <wsdl:output message="tns:SM001001SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SM001002">
      <wsdl:input message="tns:SM001002SoapIn" />
      <wsdl:output message="tns:SM001002SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CM005001">
      <wsdl:input message="tns:CM005001SoapIn" />
      <wsdl:output message="tns:CM005001SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OP007095">
      <wsdl:input message="tns:OP007095SoapIn" />
      <wsdl:output message="tns:OP007095SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SM001001">
      <soap:operation soapAction="http://tempuri.org/SM001001" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SM001002">
      <soap:operation soapAction="http://tempuri.org/SM001002" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CM005001">
      <soap:operation soapAction="http://tempuri.org/CM005001" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OP007095">
      <soap:operation soapAction="http://tempuri.org/OP007095" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SM001001">
      <soap12:operation soapAction="http://tempuri.org/SM001001" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SM001002">
      <soap12:operation soapAction="http://tempuri.org/SM001002" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CM005001">
      <soap12:operation soapAction="http://tempuri.org/CM005001" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OP007095">
      <soap12:operation soapAction="http://tempuri.org/OP007095" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://172.18.15.65:8666/OCRService.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://172.18.15.65:8666/OCRService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>