Architecture/WebReference/Web References/EHRReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectByUsername">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectByUsernameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectByUsernameResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HasPermission">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="staffID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="moduleID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HasPermissionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HasPermissionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckPermission">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="permission" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="moduleID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckPermissionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckPermissionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectAppGroupModule">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="permission" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectAppGroupModuleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectAppGroupModuleResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectAppGroupModuleByStaffID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="staffID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="permission" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectAppGroupModuleByStaffIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectAppGroupModuleByStaffIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="SelectByUsernameSoapIn">
    <wsdl:part name="parameters" element="tns:SelectByUsername" />
  </wsdl:message>
  <wsdl:message name="SelectByUsernameSoapOut">
    <wsdl:part name="parameters" element="tns:SelectByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="HasPermissionSoapIn">
    <wsdl:part name="parameters" element="tns:HasPermission" />
  </wsdl:message>
  <wsdl:message name="HasPermissionSoapOut">
    <wsdl:part name="parameters" element="tns:HasPermissionResponse" />
  </wsdl:message>
  <wsdl:message name="CheckPermissionSoapIn">
    <wsdl:part name="parameters" element="tns:CheckPermission" />
  </wsdl:message>
  <wsdl:message name="CheckPermissionSoapOut">
    <wsdl:part name="parameters" element="tns:CheckPermissionResponse" />
  </wsdl:message>
  <wsdl:message name="SelectAppGroupModuleSoapIn">
    <wsdl:part name="parameters" element="tns:SelectAppGroupModule" />
  </wsdl:message>
  <wsdl:message name="SelectAppGroupModuleSoapOut">
    <wsdl:part name="parameters" element="tns:SelectAppGroupModuleResponse" />
  </wsdl:message>
  <wsdl:message name="SelectAppGroupModuleByStaffIDSoapIn">
    <wsdl:part name="parameters" element="tns:SelectAppGroupModuleByStaffID" />
  </wsdl:message>
  <wsdl:message name="SelectAppGroupModuleByStaffIDSoapOut">
    <wsdl:part name="parameters" element="tns:SelectAppGroupModuleByStaffIDResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectByUsername">
      <wsdl:input message="tns:SelectByUsernameSoapIn" />
      <wsdl:output message="tns:SelectByUsernameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HasPermission">
      <wsdl:input message="tns:HasPermissionSoapIn" />
      <wsdl:output message="tns:HasPermissionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckPermission">
      <wsdl:input message="tns:CheckPermissionSoapIn" />
      <wsdl:output message="tns:CheckPermissionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectAppGroupModule">
      <wsdl:input message="tns:SelectAppGroupModuleSoapIn" />
      <wsdl:output message="tns:SelectAppGroupModuleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectAppGroupModuleByStaffID">
      <wsdl:input message="tns:SelectAppGroupModuleByStaffIDSoapIn" />
      <wsdl:output message="tns:SelectAppGroupModuleByStaffIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByUsername">
      <soap:operation soapAction="http://tempuri.org/SelectByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasPermission">
      <soap:operation soapAction="http://tempuri.org/HasPermission" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPermission">
      <soap:operation soapAction="http://tempuri.org/CheckPermission" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAppGroupModule">
      <soap:operation soapAction="http://tempuri.org/SelectAppGroupModule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAppGroupModuleByStaffID">
      <soap:operation soapAction="http://tempuri.org/SelectAppGroupModuleByStaffID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByUsername">
      <soap12:operation soapAction="http://tempuri.org/SelectByUsername" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasPermission">
      <soap12:operation soapAction="http://tempuri.org/HasPermission" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPermission">
      <soap12:operation soapAction="http://tempuri.org/CheckPermission" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAppGroupModule">
      <soap12:operation soapAction="http://tempuri.org/SelectAppGroupModule" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAppGroupModuleByStaffID">
      <soap12:operation soapAction="http://tempuri.org/SelectAppGroupModuleByStaffID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://serwebtest/Intranet/WebServices/EHRService_Test/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://serwebtest/Intranet/WebServices/EHRService_Test/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>